body {
  width: 53.2em;
  margin: 0 auto;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #818796;
}
* {
  margin: 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 19px;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 14px;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
}
.separate-line {
  height: 3px;
  background-color: #ECEDF0;
  border: none;
  margin: 0.3em 0;
}
.header {
  text-align: center;
  height: 18.4em;
  margin-top: 0.8em;
  color: #ffffff;
  border: 2px solid #676c77;
  background: url(https://content.s3.prom.st/July/28532_TG1.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  background-position: -7em 1em;
  background-repeat: no-repeat;
}
.header__content {
  z-index: 1;
  padding: 0.8em auto;
  height: 100%;
  background-color: rgba(83, 87, 96, 0.84);
}
.header__title {
  margin-bottom: 0.24em;
  padding-top: 1.7em;
  font-weight: 100;
  letter-spacing: -0.2px;
  color: #f87a02;
}
.header__sub-title {
  font-weight: 100;
  word-spacing: 2.4px;
  margin-bottom: 0.7em;
}
.header__sub-title span {
  font-weight: 800;
  color: #f87a02;
}
.header__description {
  width: 52em;
  margin: 0 auto 2.1em;
  line-height: 1.9em;
}
.header__button {
  color: #f87a02;
  background-color: transparent;
  border: 2px solid #f87a02;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 8px 16px;
  letter-spacing: 0.5px;
}
.header__button:hover,
.header__button:active,
.header__button:focus {
  color: #ffffff;
  border-color: #ffffff;
}
.examples {
  text-align: center;
}
.examples__title {
  font-weight: 400;
  margin-top: 1.3em;
  margin-bottom: 3.2em;
  word-spacing: 0.16em;
}
.examples__content {
  width: 52.2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.examples__content-item {
  width: 270px;
  margin-bottom: 1.8em;
}
.examples__content-item:nth-child(4) {
  margin-left: 8.8em;
}
.examples__content-item:nth-child(5) {
  margin-right: 8.8em;
}
.examples__content-link {
  width: 270px;
  height: 330px;
}
.examples__content-img_first {
  background: url("../img/exmp11.jpg");
  background-position: 0 32%;
}
.examples__content-img_first:hover {
  background: url("../img/exmp12.jpg");
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 32%;
}
.examples__content-img_second {
  background: url("../img/exmp21.jpg");
  background-position: 0 32%;
}
.examples__content-img_second:hover {
  background: url("../img/exmp22.jpg");
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 32%;
}
.examples__content-img_third {
  background: url("../img/exmp31.jpg");
  background-position: 0 32%;
}
.examples__content-img_third:hover {
  background: url("../img/exmp32.jpg");
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 32%;
}
.examples__content-img_fourth {
  background: url("../img/exmp41.jpg");
  background-position: 0 0;
}
.examples__content-img_fourth:hover {
  background: url("../img/exmp42.jpg");
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 0;
}
.examples__content-img_fifth {
  background: url("../img/exmp51.jpg");
  background-position: 0 91%;
}
.examples__content-img_fifth:hover {
  background: url("../img/exmp52.jpg");
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 82%;
}
.examples__content-img {
  width: 270px;
  height: 330px;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}
.examples__content-description {
  color: #000000;
}
.examples__content-description--title {
  color: #818796;
  font-weight: 400;
  margin-top: 1em;
  line-height: 1.2em;
}
.examples__content-description--text {
  margin-top: 0.9em;
}
.arguments {
  text-align: center;
  height: 35.7em;
}
.arguments__title {
  font-weight: 400;
  margin-top: 1.3em;
  margin-bottom: 0.7em;
  word-spacing: 0.16em;
}
.arguments__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 3.8em;
}
.arguments__content-item {
  width: 22em;
  text-align: left;
  margin-left: -0.5em;
}
.arguments__content-item:nth-child(2n) {
  width: 24em;
  margin-left: -1em;
}
.arguments__content-item:nth-child(n+3) {
  margin-top: 1.8em;
}
.arguments__content-item:nth-child(n+5) {
  margin-top: 1.2em;
}
.arguments__content-item:hover .arguments__content-number {
  color: #676c77;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-bottom: 0.05em;
  margin-top: -0.05em;
}
.arguments__content-item:hover .arguments__content-number:nth-child(5) {
  margin-bottom: 0.05em;
}
.arguments__content-item b {
  letter-spacing: 0.07em;
  color: #676c77;
}
.arguments__content-item:hover b {
  color: #f87a02;
}
.arguments__content-number {
  font-size: 70px;
  font-weight: bold;
  color: #f87a02;
  height: 1.23em;
}
.arguments__link {
  color: #ffffff;
  padding: 3.5px 16px;
  background-color: #f87a02;
  border: 2px solid #f87a02;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-box-shadow: 0 8px 18px 0 rgba(168, 172, 185, 0.62);
          box-shadow: 0 8px 18px 0 rgba(168, 172, 185, 0.62);
}
.arguments__link:hover,
.arguments__link:active,
.arguments__link:focus {
  background-color: #8b6508;
  border-color: #8b6508;
}
.services {
  text-align: center;
}
.services__title {
  font-weight: 400;
  margin-top: 1.3em;
  margin-bottom: 1.4em;
  word-spacing: 0.06em;
}
.services__content {
  margin: 0 auto;
  width: 52.1em;
}
.services__content-title {
  word-spacing: 0.2em;
  margin-bottom: 0.3em;
  color: #f87a02;
}
.services__content-item {
  border: 2px solid #ECEDF0;
  padding: 23px 40px 25px;
  position: relative;
}
.services__content-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #818796;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: -1;
}
.services__content-item:hover:after {
  height: 100%;
}
.services__content-item:hover {
  border-color: #818796;
}
.services__content-item:hover,
.services__content-item:hover .services__content-title {
  color: #ffffff;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
.services__separate-line {
  margin: 1.6em auto;
  width: 16em;
  height: 1px;
  background-color: #f87a02;
  border: none;
}
.services__line {
  margin: 3em auto 1.6em;
}
.benefits {
  text-align: center;
  width: 47.5em;
  height: 29em;
  margin: 0 auto;
}
.benefits__title {
  font-weight: 400;
  margin-top: 1.3em;
  margin-bottom: 2.5em;
  word-spacing: 0.16em;
}
.benefits__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__content-item {
  width: 22em;
}
.benefits__content-item:hover .icon {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.benefits__content-item:nth-child(n+3) {
  margin-top: 5.5em;
}
.benefits__content-icon {
  width: 72px;
  height: 72px;
  margin: 0 auto 0.8em;
  border: 1px solid #818796;
  background-color: #818796;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 2px 2px;
  position: relative;
}
.benefits__content .icon {
  position: absolute;
  top: 18%;
  left: 18%;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
.benefits__content .icon-second {
  width: 45px;
  left: 20%;
}
.footer {
  text-align: center;
  height: 8.5em;
}
.footer__title {
  font-weight: 400;
  margin-top: 1.3em;
  margin-bottom: 0.2em;
  word-spacing: 0.16em;
}
.footer__slogan {
  font-style: italic;
  word-spacing: 0.05em;
  margin-bottom: 0.1em;
}
.footer .arrow-down {
  -webkit-animation: spin 1.5s linear 1s infinite;
          animation: spin 1.5s linear 1s infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  75% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  75% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}
